#inputdataoverlay
{
    height: 100%;
    width: 100%;
    z-index: 3;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

#closeBtn /* CSS for the close button*/
{
    position: absolute;
    left : 95%;
    top: 2%;
}